/*------------------Home css----------------------*/
.button a img
{
  margin-left:auto;
  margin-right:auto;
  display:block;
  color: black;
}
*{
  box-sizing: border-box;
}
article{
    text-align: center;
    border: 2px solid;
}
.margin
{
  margin-top: 100px;
}
.footer-top {
  background :#333 !important;
  padding: 40px ;
}
.wordStyle {
  color: aliceblue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

/*------------------css----------------------*/

/*------------------Main css----------------------*/
.boywatch {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.girlwatch {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.boyword {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 85%;
    left: 33.33%;
    text-align: center;
}

.girlword {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 85%;
    left: 30.33%;
    text-align: center;
}


.footerMain{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./MAIN\,HOME\,\ BRAND\ logo\ and\ picture/watch logo.png");
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25%;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------css----------------------*/

/*------------------Brand css----------------------*/
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
body{
    margin: 0;
}

/*------------------css----------------------*/

/*------------------Navbar css----------------------*/

nav{
    width :100%;
    height:81px;
    background-image:linear-gradient(to bottom, grey, black);
}

nav  p{
    font-family:arial;
    color:white;
    font-size:24px;
    line-height:30px;
    float:left;
    padding:20px 0px 20px 20px;
}

nav ul {
    float:left;
    z-index: 1000;
}
nav ul li{
    float:left;
    list-style:none;
    position:relative;
}
nav ul li a{
    display:block;
    color:white;
    font-size:18px;
    padding:22px 14px;
    text-decoration:none;
    font-family:arial; /**Stand by**/
}
nav ul li a:hover{
    text-decoration:none;
    color:#66B2FF;
}

nav ul li ul{
    display:none;
    position:absolute;
    background-color:grey;
    padding:10px;
    border-radius:0px 0px 4px 4px;
}

nav ul li:hover ul {
    display:block;
    
}

nav ul li ul li{
    width:180px;
    border-radius:4px;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background-color:#404040;
    color:#66B2FF;
    text-decoration:none;
}
/*------------------css----------------------*/

/*------------------TopNav css----------------------*/

.background-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.style-word{
    font-style: italic;
    color: white;
    font-size:50px;
}

.backgroundImage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./MAIN\,HOME\,\ BRAND\ logo\ and\ picture/watch logo.png");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    position: relative;
}

/*body,
html 
{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*/
/*------------------ css----------------------*/
/*------------------ product css -------------*/
.product button{
	font-family: arial;
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-image:linear-gradient(black, grey);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}

div div div img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.price {
	color: black;
	font-size: 22px;
	text-align:center;
}
.product h3{
    color:#606060;
}
.product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    position: relative;
    width: 100%;
}

.product button:hover {
	opacity: 0.7;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
    background-image:linear-gradient(grey,black);
    z-index:100;
}

.product:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 15px;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}


/*-------------------- FAQ CSS------------------------------- */

div.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Logo/watch logo.png');
    background-repeat:repeat-x;
    background-size: 300px 290px;
}

div.transbox {
    margin: 0px;
    border: 1px solid black;
}

div.transbox h1 {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.0;
}

div.heading2 {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.clickable-heading {
    cursor:pointer;
}

.clickable-heading:hover {
    color:#635f5f;
}

div.libackground {
    border-color: grey;
    border-bottom-style: dotted;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;
}

div.libackground li{
    font-size: 25px;
    list-style-type: none;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.libackground p {
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/*********Footer *****************/
footer *{
    box-sizing: border-box;
}
footer{
    background-color:black;
    color:white;
    width:100%;
    position :relative;
    
}
footer .column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
footer .row:after {
  content: "";
  display: table;
  clear: both;
}
footer h2{
    text-decoration: underline;
    text-decoration-color: grey;
    padding-left: 39px;
}
footer ul li{
    list-style-type: none;
}
footer ul li a:hover{
    text-decoration:none;

}
footer form{
    padding-left:39px;
}
input[type=email],[name=feedback]{
    color:black;
}

input[type=submit],[type=reset]{
    color:black;
}
footer a span{
    height:40px;
    width:40px;
    line-height: 40px;
    border-radius:18px;
    transition:0.3s;
}
footer a span:hover{
    background:blue;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    margin: 5px 5px 5px 30px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-facebook:hover{
    color:white;
    text-decoration:none;
    
}
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}
.fa-instagram:hover{
    text-decoration: none;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-twitter:hover{
    color:white;
    text-decoration:none;
}
/******* About Us ********/

.about-section {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: white;
}


/******* Cart css ********/
.add-cart {
    width: 100%;
    background-color: darkgray;
    cursor: pointer;
    text-align: center;
}

.cartproducts-container {
    max-width: 750px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.cartproducts-header {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.cartproduct-title {
    width: 45%;
    border-bottom: 4px solid lightgray;
}

.cartprice {

    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid lightgray;
    text-align: center;
}

.cartquantity {
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid lightgray;
}

.carttotal {
    width: 10%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid lightgray;
}

.cartproducts {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 4px solid lightgray;
}
.cartproduct {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    border-bottom: 4px solid lightgray;
}

.cartTotalTitle {
    width: 30%;
}

.carttotal {
    width: 10%;
}

.btn-primary {
    color: white;
    background-color: rgb(18, 109, 139);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(26, 154, 228);
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-remove {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    display: flex;
    color: white;
    background-color: rgb(173, 24, 37);
    border: none;
    border-radius: .3em;
    font-weight: bold;

}

.btn-remove:hover {
    background-color: red;
}

/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 3px;
}

/* Set a style for all buttons */
.cart-button {
    background-color: #00FF80;
    border:1px solid black;
    border-radius:5px;
    color: black;
    font-size:18px;
    padding: 14px 20px;
    margin-left:280px;  
    cursor: pointer;
    width: 50%;
}

.cart-button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 95%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 40px;
}

/* Modal Content/Box */
.modal-content {
    background-color:#606060;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

}

.cart-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .cart-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .cart-checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .cart-checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .cart-checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  .cart-checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*---------------storaLocation------------*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
}
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
}
.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
}
.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
}

/*------------------footer----------*/
input[type=name],[type=tel],[type=email],[name=feedback]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}
input[type=submit],input[type=reset]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}